{% extends "layout.html" %}

{% block pageTitle %}
  Tax your vehicle
{% endblock %}

{% block header %}
  {{ govukHeader({
    "homepageUrl": "/",
    "containerClasses": "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  <div>
    <a href="vehicle-tax-choose-payment" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<form action="card-payment" method="post">
			<h1 class="govuk-heading-xl">
			 Pay by card
			</h1>
			
			<dl class="app-check-your-answers app-check-your-answers--short">
	        <div class="app-check-your-answers__contents">
	          <dt class="app-check-your-answers__question">
	            Paying for
	          </dt>
	          <dd class="app-check-your-answers__answer">
	            Vehicle tax for 12 months from 1 September 2018. Expires 31 August 2019.
	          </dd>
	        </div>

	        <div class="app-check-your-answers__contents">
	          <dt class="app-check-your-answers__question">
	            Price
	          </dt>
	          <dd class="app-check-your-answers__answer">
	            £255.00
	          </dd>
	        </div>
	    </dl>
			  
			<button type="submit" class="govuk-button govuk-!-margin-top-3">
				Continue to card payment
			</button>	
		</form>
		
		</div>
	</div>

</main>

{% endblock %}
