
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Pay
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        GOV.UK Pay payment pages 
      </h1>

      <h2 class="govuk-heading-s"><a href="card-payment-newfeatures">Card page with new features</a></h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Corporate credit card surcharge</li>
        <li>Prepopulate email and billing address</li>
      </ul>

      <h2 class="govuk-heading-s"><a href="vehicle-tax/vehicle-tax-start">Vehicle tax prototype for pop up testing</a></h2>
    </div>
</div>

{% endblock %}
